.userListItem {
	position: relative;

	display: block;
	width: fit-content;
	padding: 10px 25px;
	margin: 8px 0px;

	background-color: #ffe51c;
	color: #000;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

	left: 0px;
	transition: left 0.1s ease-in-out;

	border: #000 solid 2px;
	border-radius: 8px;

	font-weight: 500;

	box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px 2px;
}

.userListItem:hover {
	background-color: #000;
	color: #ffe51c;

	cursor: pointer;

	left: 15px;
}
